body {
    
}

.boton-personalizado {
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    pointer-events: none;
  }
  
  .wrapper {
    cursor: pointer;
  }
  .titulos {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: wheat 0px 0px 10px;
  }
  .placa {
    display: block;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  .pato {
    text-align: center;
    color: aliceblue;
    
  }